/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles below */
body {
  @apply bg-gray-100;
}

/* src/index.css */

/* Loader Styles */
.loader {
  border-top-color: #ef4444; /* Tailwind's red-500 */
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Ensures text doesn't wrap */
  border: 0;
}
